.container {
  max-width: 70%;
  margin: 2rem auto;
  padding: 3rem;
  border-radius: 10px;
  background: linear-gradient(135deg, #eba61b, #d39518);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), /* Sombra difusa grande */
              0 6px 6px rgba(0, 0, 0, 0.15); /* Sombra más pequeña para el efecto flotante */
  color: #333;
  font-family: 'Arial', sans-serif;
}

button {
  margin-bottom: 3%;
  margin-left: 47%;
  margin-right: 47%;
  width: max-content;
  padding: 1%;
  background-color: #6e6e6e;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  border-width: 3px;
  border-color: #ffffff;
}

button:hover {
  transform: scale(1.1);
  transition: 500ms;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  background: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), /* Sombra difusa grande */
              0 6px 6px rgba(0, 0, 0, 0.15); /* Sombra más pequeña para el efecto flotante */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Animación suave */
}

table:hover {
  transform: translateY(-5px); /* Levanta la tabla al pasar el mouse */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25), 
              0 8px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el mouse */
}

table th, table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
}

table th {
  position: sticky; /* Make the header row sticky */
  top: 0; /* Sticks to the top of the container */
  background-color: #495057; /* Keep the header background color */
  color: #ffffff; /* Text color */
  font-weight: bold;
  text-align: center;
  z-index: 2; /* Ensure it stays on top of other rows */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
}

table tr:nth-child(odd) {
  background-color: #f8f9fa;
}

table tr:nth-child(even) {
  background-color: #e9ecef;
}

table th:first-child {
  border-top-left-radius: 10px;
}

table th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table td {
  font-size: 100%;
  color: #495057;
}

table tr:hover {
  background-color: #ced4da;
}

table td:first-child {
  font-weight: bold;
}

