.container {
  max-width: 70%;
  margin: 2rem auto;
  padding: 3rem;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff6bcb, #845ec2); /* New gradient from pink to purple */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 1);
  color: #333;
  font-family: 'Arial', sans-serif;
}

table td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #ff8acb;
  -moz-box-shadow: 0 2px 2px -2px #ff8acb;
  box-shadow: 0 2px 2px -2px #ff8acb;
}

table {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 2rem 0 4em 0;
  border-collapse: collapse;
  border-radius: 10px;
}

table td {
  font-size: 110%;
}

table td, table th {
  padding: 2% 1% 2% 0.5%;
  text-align: center;
}

/* Background-color of the odd rows */
table tr:nth-child(odd) {
  background-color: #e5b3ff;
}

/* Background-color of the even rows */
table tr:nth-child(even) {
  background-color: #d4a0ff;
}

table th {
  background-color: #c584ff;
  color: #fff; /* Ensure text is readable */
}

table td:first-child { color: #2a2324; }

table tr:hover {
  background-color: #c39fff;
  -webkit-box-shadow: 0 6px 6px -6px #b085ff;
  -moz-box-shadow: 0 6px 6px -6px #b085ff;
  box-shadow: 0 6px 6px -6px #b085ff;
}
