<!-- ng serve -->
<!-- node server.js -->
<div class="form-container">
  <form [formGroup]="receptionForm" (ngSubmit)="onSubmit()">
    <h2>Afegir Client</h2>

    <div class="form-group">
      <label for="UID">User ID</label>
      <input id="UID" formControlName="uid" min="1001" max="1050" type="number" placeholder="User ID" required>
    </div>

    <div class="form-group">
      <label for="Nom">Nom</label>
      <input id="Nom" formControlName="nom" type="text" placeholder="Nom" required>
    </div>

    <div class="form-group">
      <label for="PrimerCognom">Primer Cognomm</label>
      <input id="PrimerCognom" formControlName="primerCognom" type="text" placeholder="Primer Cognom" required>
    </div>

    <div class="form-group">
      <label for="SegonCognom">Segon Cognom</label>
      <input id="SegonCognom" formControlName="segonCognom" type="text" placeholder="Segon Cognom" required>
    </div>

    <div class="form-group">
      <label for="dni">DNI</label>
      <input id="dni" formControlName="dni" type="text" maxlength="9" placeholder="DNI" required>
      <div *ngIf="receptionForm.get('dni')?.invalid && receptionForm.get('dni')?.touched">
        <small *ngIf="receptionForm.get('dni')?.errors?.['required']">DNI es requerido.</small>
        <small *ngIf="receptionForm.get('dni')?.errors?.['pattern']">DNI debe ser 8 dígitos seguidos de una letra mayúscula.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="saldo">Saldo</label>
      <input id="saldo" formControlName="saldo" type="number" placeholder="Saldo" required>
    </div>

    <div class="form-group">
      <label for="Tipus">Tipus</label>
      <select id="Tipus" formControlName="tipus" required>
        <option selected value="">Seleccionar</option>
        <option value="hibrido">Hibrid</option>
        <option value="electrico">Electric</option>
      </select>
    </div>

    <div class="form-group">
      <label for="Telefon">Teléfono</label>
      <input id="Telefon" formControlName="telefon" maxlength="9" type="tel" placeholder="Teléfono" required>
      <div *ngIf="receptionForm.get('Telefon')?.invalid && receptionForm.get('Telefon')?.touched">
        <small *ngIf="receptionForm.get('Telefon')?.errors?.['required']">Teléfono es requerido.</small>
        <small *ngIf="receptionForm.get('Telefon')?.errors?.['pattern']">Teléfono debe contener solo números.</small>
      </div>
    </div>

    <button type="submit">Enviar</button>
  </form>
</div>
