<nav *ngIf="showNavbar" class="container">
  <ul class="topnav">
    <ul class="logo-list">
      <li><img src="assets/images/LOGO-Fabregas-300x300.png" alt="Logo"></li>
    </ul>
    
    <ul class="links-list">
      <li><a routerLink="/ActualitzarClient" routerLinkActive="active">Actualitzar Client</a></li>
      <li><a routerLink="/EliminarClient" routerLinkActive="active">Eliminar Client</a></li>
      <li><a routerLink="/UpdateSaldo" routerLinkActive="active">Actualitzar Saldo</a></li>
      <li><a routerLink="/Usuaris" routerLinkActive="active">Usuaris</a></li>
    </ul>
  </ul>
</nav>
